:root {
  --darkblu: #304FE8;
  font-size: 16px;
}
body {
  margin: 0 auto;
  padding: 25px 20px;
  max-width: 800px;
  font-family: "Work Sans", sans-serif;
}
section {
  margin: 41px 0 63px 0;
}
h2 {
  margin: 0;
  font-size: 1.5rem;
}


header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
header h1 {
  flex-grow: 1;
  text-align: center;
  font-size: 1rem;
  font-weight: normal;
}


#last h2 span {
  color: #B388EB;
  text-transform: lowercase;
}

#last p {
  margin-bottom: 50px;
  font-size: 0.875rem;
  font-weight: 500;
}

#last-buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
#last-buttons a {
  padding: 13px 0;
  width: calc(50% - 10px);
  text-align: center;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 500;
}

#last-buttons-last {
  background-color: rgba(128, 147, 241, 0.15);
  color: var(--darkblu);
}
#last-buttons-all {
  background-color: var(--darkblu);
  color: #FFFFFF;
}


#all-list a {
  display: block;
  margin: 14px 0;
  border-radius: 4px;
  overflow: hidden;
  text-decoration: none;
  font-size: 1rem;
}

.all-list-unfinished {
  background-color: rgba(128, 147, 241, 0.15);
  color: var(--darkblu);
}
.all-list-unfinished:hover {
  background-image: radial-gradient(94.08% 97.75% at 56.88% 50%, rgba(117, 138, 240, 0.08) 0%, rgba(128, 147, 241, 0) 100%);
}

.all-list-finished {
  background-color: rgba(22, 163, 74, 0.05);
  color: #16A34A;
}
.all-list-finished img {
  height: 1em;
}

.all-list-label {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 11px;
}
.all-list-label span:nth-child(1) {
  flex-grow: 1;
  margin-right: 1em;
}
.all-list-label span:nth-child(2) {
  font-weight: bold;
}

.all-list-progress {
  height: 2px;
  background-color: var(--darkblu);
}
