$primary: #304fe8;
$primary-hover: hsl(230, 80%, 35%);
$bg-blue: rgba(128, 147, 241, 0.15);
$bg-blue-hover: rgba(128, 147, 241, 0.06);
$white: #fff;
$gray-dark: #707070;

$red: #d11010;
$bg-red: rgba(209, 16, 16, 0.08);
$bg-red-hover: rgba(209, 16, 16, 0.04);

$green: #16a34a;
$bg-green: rgba(22, 163, 74, 0.08);
$bg-green-hover: rgba(22, 163, 74, 0.04);

:root {
   font-size: 16px;
}

// body {
//    margin: 0 auto;
//    max-width: 600px;
//    //background-image: linear-gradient(#ffffff 0%, #ffffff 90%, #dddddd 100%);
// }

#app {
   box-sizing: border-box;
   margin: 0 auto;
   max-width: 600px;
   min-height: 100vh;
   font-family: "Work Sans", sans-serif;
   display: flex;
   flex-flow: column nowrap;
   justify-content: space-between;

   input.input {
      border: 1px solid $gray-dark;
      border-radius: 4px;
      padding: 16px;
      font-family: "Work Sans", sans-serif;
   }
   form {
      display: flex;
      flex-flow: column nowrap;
   }
   .btn {
      text-decoration: none;
      padding: 10px 12px;
      color: $primary;
      border-radius: 4px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: 0.2s;
      border: none;
      margin-top: 16px;
      font-family: "Work Sans", sans-serif;
      &:hover {
         transform: translateY(-1px);
      }
   }
   .container-two-btns {
      display: grid;
      margin-top: 32px;
      grid-template-columns: 1fr 1fr;
      grid-gap: 16px;
      & .btn {
         margin-top: 0;
      }
   }

   nav {
      background: $bg-blue;
      padding: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      .nav-title {
         color: $primary;
         margin: 0 16px;
      }
   }

   main {
      flex: 1 0;
      padding: 16px;
      max-width: 100vw;
      overflow: hidden;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
   }

   main .space {
      flex-grow: 1;
      min-height: 32px;
      @media screen and (max-width: 400px) {
         min-height: 16px;
      }
   }

   #progress {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      margin: 48px 0;
      @media screen and (max-width: 600px) {
         margin: 32px 0;
      }
      @media screen and (max-width: 400px) {
         margin: 16px 0;
      }
   }
   #progress div {
      border-radius: 4px;
      margin-right: 4px;
      width: 20px;
      height: 20px;
      transition: background-color 0.4s ease;
   }
   .progress-unanswered {
      box-sizing: border-box;
      border: 1px solid #c4c4c4;
      background-color: #ffffff;
   }
   .progress-active {
      border: none;
      outline: 4px solid #304fe8;
   }
   .progress-correct {
      background-color: rgba(22, 163, 74, 0.6);
   }
   .progress-wrong {
      background-color: rgba(209, 16, 16, 0.2);
   }

   .questions {
      display: flex;
      margin-bottom: 64px;
      flex-flow: row nowrap;
      transition: 1s cubic-bezier(0.16, 1, 0.3, 1);
      transition-delay: 0.4s;
   }
   .question {
      /* margin: 0.9em 0; */
      height: 100%;
      margin-right: 32px;
      min-width: calc(100vw - 32px);
      position: relative;

      @media screen and (min-width: 600px) {
         min-width: 568px;
      }

      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      font-size: 1rem /* 20px */;
      font-weight: normal;
      align-self: stretch;

      img {
         max-height: 200px;
         align-self: center;
         margin: 32px 0;
      }
      .instructions {
         margin: 32px 0;
      }

      transition-delay: 0.3s;
      transition: 1.3s cubic-bezier(0.16, 1, 0.3, 1);
      opacity: 0.3;
      &.active {
         opacity: 1;
      }
   }

   #options button {
      display: block;
      font-family: "Work Sans", sans-serif;
      margin-bottom: 11.5px;
      border-radius: 8px;
      box-sizing: border-box;
      width: 100%;
      min-height: 4em;
      background-color: #ffffff /* transparent */;
      text-align: left;
      font-size: 1rem /* 20px */;
      transition: border-color 0.3s ease, color 0.3s ease;
      cursor: pointer;
   }
   .options-unclicked {
      border: 1px solid #c4c4c4;
      padding: 16px 22px;
   }
   .options-correct {
      border: 2px solid #16a34a;
      padding: 15px 21px;
      color: #16a34a;
   }
   .options-wrong {
      border: 2px solid #d11010;
      padding: 15px 21px;
      color: #d11010;
   }

   #next_btn {
      border: none;
      padding: 24px;
      font-size: 1.7rem /* 34px */;
      transition: background-color 0.3s ease, color 0.3s ease;
   }
   .next_btn-unanswered {
      background-color: rgba(128, 147, 241, 0.15);
      color: #304fe8;
   }
   .next_btn-correct {
      background-color: rgba(22, 163, 74, 0.05);
      color: #16a34a;
   }
   .next_btn-wrong {
      background-color: rgba(209, 16, 16, 0.06);
      color: #d11010;
   }

   .finished {
      height: 100%;
      display: flex;
      flex-grow: 1;
      flex-flow: column nowrap;
      justify-content: space-between;
      text-align: center;

      h1 {
         font-size: 48px;
      }

      img {
         max-height: 350px;
         max-width: 100%;
         flex: 0 0;
         align-self: center;
         @media screen and (max-width: 400px) {
            max-height: 250px;
         }
      }
   }
   .popup {
      position: absolute;
      width: calc(100% - 64px);
      z-index: 999;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 0);
      background: white;
      border-radius: 8px;
      box-shadow: 0 2px 18px rgba(6, 14, 55, 0.32);
      padding: 16px 32px;
      display: none;
      &.active {
         display: block;
      }
   }
   @media screen and (max-width: 400px) {
      h1 {
         margin: 16px 0;
      }
      h2 {
         margin: 8px 0;
      }
   }
   .loading {
      position: absolute;
      bottom: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      h3 {
         text-align: center;
         color: $primary;
         margin-top: 32px;
      }
      img {
         animation: infinite rotation 0.7s;
         width: 100px;
      }
   }
   @keyframes rotation {
      from {
         transform: rotate(0deg);
      }
      to {
         transform: rotate(360deg);
      }
   }

   .recapitulation {
      .recapitulation-question {
         border-radius: 8px;
         padding: 12px;
         margin-bottom: 16px;
         &.recapitulation-correct {
            border: $green 1px solid;
            box-shadow: 0 4px 10px $bg-green;
         }
         &.recapitulation-wrong {
            border: $red 1px solid;
            box-shadow: 0 4px 10px $bg-red;
         }
         &.first-child {
            margin-top: 32px;
         }
      }
   }
   .hint {
      opacity: 0.5;
      font-size: 14px;
   }

   .disabled {
      opacity: 0.3;
   }
}
.horizontal-center {
   display: flex;
   flex-flow: column nowrap;
   justify-content: center;
   height: 100vh;
   .w-form {
      margin-bottom: 64px;
   }
}

.feedback {
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
   height: 40px;

   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   align-items: center;
   font-size: 1.2rem /* 24px */;
   font-weight: 500;
   padding: 8px 16px;

   animation: feedback-in-bottom 0.7s cubic-bezier(0.16, 1, 0.3, 1);
}
.feedback-mainpage .feedback {
   bottom: 16px;
   left: 16px;
   right: 16px;
   border-radius: 6px;
   padding: 32px;

   &.feedback-wrong {
      border: 1px solid #d11010;
   }
   &.feedback-correct {
      border: 1px solid #16a34a;
   }
}
.feedback p {
   margin: 0;
}
.feedback-correct {
   background-color: #f3faf6;
   color: #16a34a;
   .cross-stroke {
      stroke: #16a34a;
   }
}
.feedback-wrong {
   background-color: #fcf1f1;
   color: #d11010;
   .cross-stroke {
      stroke: #d11010;
   }
}
@keyframes feedback-in-bottom {
   from {
      transform: translateY(100%);
   }
   to {
      transform: translateY(0);
   }
}

.btn.is-disabled {
   opacity: 0.2;
}
.btn.btn-primary.is-loading {
   color: #555 !important;
   background-color: #eee;

   &::before {
      content: "aa";
   }
}
.error-msg {
   color: #d11010;
   margin-bottom: 24px;
}
.input.has-error {
   border-color: #d11010;
}

.all-questions__item.is-editable {
   border: 2px solid $primary;
}

.btn-primary {
   background: $primary;
   color: $white;
   &:hover {
      background: $primary-hover;
   }
}
.btn-secondary {
   background: $bg-blue !important;
   &:hover {
      background: $bg-blue-hover !important;
   }
}
.btn-secondary.btn-critical {
   background: $bg-red !important;
   color: $red !important;
   &:hover {
      background: $bg-red-hover !important;
   }
}
.btn-empty {
   border: 1px solid $primary !important;
   &:hover {
      background: $bg-blue-hover !important;
   }
}
